@import url('https://fonts.cdnfonts.com/css/lexend-deca');

/*
z-index toc 1-99:
99: navbar
98: settings menu
91: sidebar
90: canvas
*/

body {
  padding: 0;
  margin: 0;
  font-size: 5vmin;
  padding-top: 7.5dvh;
}
#navbar {
  position: fixed;
  top: 0;
  height: 7.5dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  z-index: 99;
}
#navbar span {
  display: inline-flex;
  text-decoration: none;
  height: 4dvh;
  width: auto;
  margin: 0.5vmin;
  padding: 1vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
  font-size: 3dvh;
}
#canvas {
  cursor: pointer;
}
#guide {
  display: grid;
  position: absolute;
  pointer-events: none;
  margin: 0;
  padding: 0;
  z-index: 90;
}
#guide div {
  margin: 0;
  padding: 0;
  z-index: 99;
  border: 0.5vmin solid rgba(0,0,0,0.5);
}
#canvasContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 90;
}
#controlContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 2vmin;
  width: 25dvw;
  height: 92.5dvh;
  transform: scale(100%);
  z-index: 91;
}
.slider {
  width: 70%;
  height: 5vmin;
}
#logo {
  margin: 1vmin;
  margin-bottom: 3vmin;
}
#color {
  width: 7vmin;
  height: 7vmin;
}

#file, #file div, #settings, #settings div, #otherApps {
  position: fixed;
  top: 7.5dvh;
  width: 40vmin;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5vmin;
  margin: 0;
  display: none;
}
#file span, #settings span, #otherApps span {
  display: block;
}

#file-export-options {
  display: none;
  left: 41vmin;
}

#file-span:hover + #file, #file:hover {
  display: block;
}
#file-export:hover + #file-export-options, #file-export-options:hover {
  display: block;
}

#settings-span:hover + #settings, #settings:hover {
  display: block;
}

#settings {
  left: 14.5vmin;
}

#otherApps {
  left: 34.5vmin;
}

#otherApps-span:hover + #otherApps, #otherApps:hover {
  display: block;
}

#settings-menu {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 98;
  width: 55dvw;
  aspect-ratio: 16 / 10;
}

#settings-menu-main, #settings-menu-personalization {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  position: fixed;
  left: 0%;
  top: 0%;
  margin: 3.5vmin;
  overflow-y: auto;
  overflow-x: hidden;
}
#close-icon {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 0.5vmin;
  cursor: pointer;
}
#settings-menu h1 {
  width: 100%;
  margin: 0.5vmin;
  font-size: 6.5vmin;
}
#settings-menu-main span, #settings-menu-personalization span {
  width: 100%;
  margin: 0.5vmin;
  font-size: 4vmin;
}
select {
  width: 40vmin;
  height: 6vmin;
  font-size: 4vmin;
}
info {
  font-size: 3vmin;
  margin-top: 5vmin;
}