@import url('https://fonts.cdnfonts.com/css/lexend-deca');

/*
z-index toc 1-99:
100: navbar: dropdowns
 99: navbar
 98: settings menu
 91: sidebar
 90: canvas
*/

:root {
  --bgClr: #212121;
  --txClr: #ffffff;
  --uiClr: #303030;
 --uiClr2: #454545;
  --olClr: rgba(0,0,0,0);
  --nlClr: #616161;
  --avClr: #009dff;
  --gdWdt: 0.3px;
  --gdStr: 0.3;
}
html {
  font-family: 'Lexend Deca', sans-serif;
}
body {
  background: var(--bgClr);
  color: var(--txClr);
  padding: 0;
  margin: 0;
  font-size: 5vmin;
  padding-top: 7.5dvh;
  user-select: none;
}
span {
  user-select: none;
}
#navbar {
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100dvw;
  background: var(--uiClr2);
  margin: 0;
  padding: 0;
  z-index: 99;
}
#navbar .span {
  border-radius: 1vmin;
  display: inline-flex;
  text-decoration: none;
  height: 6dvh;
  width: auto;
  border: none;
  background: var(--nlClr);
  padding: 0.5vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
  color: var(--txClr);
  transition: 0.35s;
  font-size: 3dvh;
  transform: translateY(-3.5vmin);
  padding-top: 4vmin;
}
#navbar .span:hover {
  background: var(--avClr);
  transform: scale(105%) translateY(-1.5vmin);
}
#file span, #otherApps span {
  border-radius: 1vmin;
  text-decoration: none;
  height: 4dvh;
  width: auto;
  border: none;
  background: var(--nlClr);
  padding: 1vmin;
  margin: 1vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
  color: var(--txClr);
  transition: 0.35s;
  font-size: 2.5dvh;
}
#file span:hover, #otherApps span:hover {
  background: var(--avClr);
  transform: scale(110%);
}
#canvas {
  cursor: pointer;
}
#guide {
  display: grid;
  position: absolute;
  pointer-events: none;
  margin: 0;
  padding: 0;
  z-index: 90;
}
#guide div {
  border: var(--gdWdt) solid rgba(0, 0, 0, var(--gdStr));
  margin: 0;
  padding: 0;
  z-index: 99;
}
#canvasContainer {
  border-radius: 3vmin;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 90;
}
#controlContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border: 0.5px solid var(--olClr);
  padding: 2vmin;
  width: 25dvw;
  height: 92.5dvh;
  background: var(--uiClr);
  transform: scale(100%);
  z-index: 91;
}
#logo {
  margin: 1vmin;
  margin-bottom: 3vmin;
  filter: invert(1);
}
#color {
  width: 7vmin;
  height: 7vmin;
  border: none;
}

#file, #file div, #settings, #settings div, #otherApps {
  position: fixed;
  border-radius: 1vmin;
  top: 8.5dvh;
  width: 40vmin;
  height: auto;
  display: flex;
  flex-direction: column;
  background: var(--uiClr);
  border: 1px solid var(--olClr);
  padding: 0.5vmin;
  margin: 0;
  transition: 0.7s;
  transform: translateY(-50vmin);
  z-index: 100;
  pointer-events: none;
}
#file span, #settings span, #otherApps span {
  display: block;
  border-radius: 1vmin;
}
#otherApps a {
  text-decoration: none;
}

#file-export-options {
  display: none;
  left: 41vmin;
}

#file-span:hover + #file, #file:hover {
  transform: translateY(0vmin);
  pointer-events: auto;
}
#file-export:hover + #file-export-options, #file-export-options:hover {
  transform: translateY(0vmin);
  pointer-events: auto;
}

#settings-span:hover + #settings, #settings:hover {
  transform: translateY(0vmin);
  pointer-events: auto;
}

#settings {
  left: 14.5vmin;
}

#otherApps {
  left: 34.5vmin;
}

#otherApps-span:hover + #otherApps, #otherApps:hover {
  transform: translateY(0vmin);
  pointer-events: auto;
}

#settings-menu {
  border-radius: 1vmin;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 98;
  width: 55dvw;
  aspect-ratio: 16 / 10;
  background: rgba(59, 60, 63, 0.8);
  backdrop-filter: blur(5vmin);
  border: 0.5px solid var(--olClr);
}

#settings-menu-main {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  position: fixed;
  left: 0%;
  top: 0%;
  margin: 3.5vmin;
  overflow-y: auto;
  overflow-x: hidden;
}
#close-icon {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 0.5vmin;
  cursor: pointer;
}
#settings-menu h1 {
  width: 100%;
  margin: 0.5vmin;
  font-size: 6.5vmin;
}
#settings-menu-main span, #settings-menu-personalization span {
  width: 100%;
  margin: 0.5vmin;
  font-size: 4vmin;
  border-radius: 1vmin;
}
input[type="range"]{
  border-radius: 5vmin;
  width: 80%;
  margin: 1vmin;
  -webkit-appearance:none;
  background: var(--nlClr);
  background-size: 150px 10px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background: var(--avClr);
  position: relative;
  z-index: 3;
}

input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(110%);
}
select {
  border-radius: 1vmin;
  color: var(--txClr);
  background: var(--nlClr);
  border: 0.5px solid var(--olClr);
  width: 40vmin;
  height: 6vmin;
  font-size: 4vmin;
}
info {
  color: var(--txClr);
  opacity: 80%;
  font-size: 3vmin;
  margin-top: 5vmin;
}