<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PixKit Developer Serverside Menu</title>
</head>
  
<style>
:root {
  --bgClr: #282C34;
  --txClr: #ffffff;
  --uiClr: #3b3c3f;
  --olClr: #62656a;
  --nlClr: #55585e;
  --avClr: #009dff;
  --gdWdt: 0.3px;
  --gdStr: 0.3;
}
  
body {
  background: var(--bgClr);
  color: var(--txClr);
  padding: 0;
  margin: 0;
}

#main {
  height: 94dvh;
  width: 100dvw;
  position: fixed;
  padding: 2vmin;
  top: 6dvh;
  overflow-y: auto;
  overflow-x: hidden;
  border: 0.5px solid var(--olClr);
}
h1 {
  
}
</style>
  
<body>
  <div id="main">
    <h1>PixKit Serverside Developer Menu</h1>
  </div>
</body>
</html>