<!DOCTYPE html>
<html lang="en">
<head id="head">
  <!-- Basic Meta Tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pixkit - App</title>
  <link rel="icon" type="image/x-icon" href="/static/pixkit-favicon.png">

  <!-- Local Scripts -->
  <script src="static/js/detectMobile.js"></script>
  <script src="static/js/script.js" defer></script>

  <!-- Ionic Icons Import -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  
  <!-- CSS link -->
  <link href="/static/themes/default/style.css" rel="stylesheet" id="theme">
  <style id="customcss"></style>
  
  <!-- jQuery import -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
  
<!-- <script type="text/javascript">
data = {{data|tojson}}
</script> -->

<!-- Themes Script -->
<script src="/static/themes/default/config.js" defer></script>

<!-- Navbar Div   -->
<div id="navbar">
  <!-- File Tab -->
  <span id="file-span">File</span>
    <!-- File Dropdown -->
    <div id="file">
      <span id="file-new">New Drawing</span>
      <span id="file-clear">Clear Drawing</span>
      
      <span id="file-export">Export Drawing <ion-icon name="caret-forward-outline"></ion-icon> </span>
        <div id="file-export-options">
          <span id="file-export-asPNG">as .png</span>
          <span id="file-export-asJPEG">as .jpeg</span>
          <span id="file-export-asWEBP">as .wbep</span>
        </div>

      <span id="file-server-upload">Save to Cloud</span>
      <span id="file-upload-custom-style">Upload Custom Style</span>
    </div>

  <!-- Setting Tab -->
  <span id="settings-span">Settings</span>

  <!-- Other Apps -->
  <span id="otherApps-span">Other Apps</span>
    <!-- Other Apps Dropdown -->
    <div id="otherApps">
      <a href="https://m1dnight.is-a.dev"><span>Portfolio</span></a>
      <a href="https://sites.google.com/westex.org/sci2"><span>Sci World 2</span></a>
      <a href="https://uniclicker-2-webveiw-edition.m1dnightdev.repl.co/"><span>UniClicker 2</span></a>
    </div>
  
</div>

<!-- Settings Menu -->
<div id="settings-menu">
  <ion-icon id="close-icon" name="close"></ion-icon>
  <div id="settings-menu-main" class="settingsContent">
    <h1>Canvas Settings</h1>
    <span id="settings-showGuides">Show Guides <input type="checkbox" id="guideTog" checked></span>
    <h1>Personalization Settings</h1>
    <span>Select Theme</span>
    <form id="current-theme-selector">
      <select id="themeSelector" name="theme" onchange="updateTheme()">
        <option value="/static/themes/default/style.css">Default: Dark</option>
        <option value="/static/themes/default/style-light.css">Default: Light</option>
        <!-- <option value="/static/themes/translucent/style.css">Translucent</option> -->
        <option value="/static/themes/no-style/style.css">Barebones</option>
      </select>
      <!-- <input type="file" id="customcss" name="customcss" onchange="updateTheme()"> -->
    </form>
    <script>
      function updateTheme() {
        let form = document.getElementById('current-theme-selector');
        let theme = form.elements['theme'];
        let customcss = form.elements['customcssinput'];
        // if(customcss.value != "") {
        // customcss.reset();
        // alert('Sorry, but this feature does not work!')
        //   let currentCss = document.getElementById('theme');
        //   currentCss.href = '';
        //   let css = document.getElementById('customcss');
        //   var reader = new FileReader();
        //   let csscontents = reader.readAsText(customcss.value, "UTF-8");
        //   css.innerHTML = csscontents;
        //   console.log('found custom css data ' + customcss.value + " " + csscontents)
        // } else {
        let currentCss = document.getElementById('theme');
        currentCss.href = theme.value;
        // }
      }
    </script>

    <h1>Experimental Settings</h1>
    <span id="settings-showGuides">Developer Mode <input type="checkbox" id="togDev"></span>
    <script>
      var devToggle = document.getElementById('togDev');
      devToggle.addEventListener('change', function(e) {
        if(devToggle.checked){
          let yes = confirm('Do you want to enable developer mode? It will have extra themes and tools but all will be experimental and could break at any moment.');
          if(!yes) {
            devToggle.checked = false;
            return
          }
          console.log('developer mode enabled');
          let expTheme = document.createElement("option");
          expTheme.value = '/static/themes/translucent/style.css';
          expTheme.innerHTML = 'Translucent';
          expTheme.id = 'translucent-theme';
          document.getElementById('themeSelector').append(expTheme)

          // let customcss = document.createElement("input");
          // let customcsslabel = document.createElement("label");
          // customcss.type = 'file';
          // customcss.name = 'customcssinput';
          // customcss.id = 'customcssinput';
          // customcss.style = 'margin: 1vmin; margin-left: 0;';
          // customcss.onchange = 'updateTheme()'
          
          // customcsslabel.innerHTML = 'Upload Custom CSS File';
          // customcsslabel.for = 'customcssinput';
          // customcsslabel.id = 'custom-css-upload';

          // document.getElementById('current-theme-selector').append(customcsslabel)
          // document.getElementById('current-theme-selector').append(customcss)
        } else {
          console.log('developer mode disabled')
          document.getElementById('translucent-theme').remove()
          document.getElementById('customcssinput').remove()
          document.getElementById('custom-css-upload').remove()
        };
      });
      
    </script>
    
    <!-- version information -->
    <info>version {{vnum}} (c) {{dev}} 2023</info>
  </div>
</div>
  
<body>
  <form method="POST">
  <div id="canvasContainer">
    <div id="guide"></div>
    <canvas width="200" height="200" id="canvas"></canvas>
    <script>
      var deviceSceenWidth =  window.innerWidth;
      var deviceSceenHeight = window.innerHeight;

      canvas.setAttribute("width", Math.floor(deviceSceenWidth / 3));
      canvas.setAttribute("height", Math.floor(deviceSceenWidth / 3));
    </script>
  </div>
  </form>
  
  <div id="controlContainer">
    <img src="/static/pixkit-logo.png" id="logo">
  <div>
    <label for="color"><ion-icon name="color-palette"></ion-icon></label>
    <input type="color" id="color">
  </div>
  <div>
  <div>
    <label for="brushWidth"><ion-icon name="brush"></ion-icon></label>
    <input class="slider" type="range" min="1" max="5" value="1" id="width">
  </div>
  <div>
    <label for="brushWidth"><ion-icon name="eye"></ion-icon></label>
    <input class="slider" type="range" min="1" max="10" value="1" id="zoom">
  </div>
  </div>
</body>
</html>